$primary-color : #E3E7F1;
$second-color : #c6cbef;
$third-color : #8186d5;
$fourth-color : #494ca2;


/**************************
	Global CSS
*************************/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
	background: $primary-color;
	color: $fourth-color;
}


/************************
		Ticker CSS
************************/
.app-banner{
	width:100%;
	text-align:center;
}


.comp-wrapper{
	display: grid;
	grid-template-columns : 2fr 2fr 2fr;
	grid-colum-gap : 2%;
	grid-row-gap: 1%;
	padding:20px;

}

.ticker-names{
	width:100%;
	font-size: 0.8em;

	ul{
		margin:0px;
		padding:0px;


		li{

			list-style: none;
			border-bottom: 3px solid $third-color;
			margin-bottom: 20px;
			cursor: pointer;

		}
	}


	span{
		margin-right:20px;
		background : $third-color;
		padding :10px;
		display: inline-block;
		margin-bottom :20px;
		color : $primary-color;
	}

}





/***********************
		Ticker search
***********************/

	.ticker-filter{ 

		clear:both; 
		text-align: center;

		input{
			width:60%;
			height:60px;
			border-radius: 10px;
			border:1px solid $second-color;
			font-size: 35px;
			color:#666;
		}
		
	}

